body{
    background-color: #FFFDF4;
    background-image: url(assets/Image-background-home.png) ;
    background-repeat:no-repeat;
    background-size: contain;
    background-size: 100% 42%;
}

.navbar{
    background-color: #C9AF97;
    height: 60px;
    margin-bottom: -3%;
    box-shadow:0 4px 12px 0 rgba(155, 153, 153, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.289);
}

.logoNavbar{
    width: 70px;
    height: 100px;
    margin-left: 20px;
    background-image: url(assets/logo-nav.png) ;
    background-repeat:no-repeat;
    background-size: contain;
}

.container{
    padding-top: 0rem;
    padding-bottom: 1rem;
}

.container-home{
    background-color: white;
    border-radius: 25px;
    border: 0.5px solid #C9AF97;
    padding-bottom: 0%;
    height: 98%;
}

.container-home-header{
    background-color: #F8F9FA;
    border-radius: 12px 12px 0px 0px;
    height: 50px;
    padding-top: 14px;
    padding-left: 20px;
    font-weight: bold;
}

.ket-antri{
    text-align: center;
}

.logo-antrekuy{
    width: 100px;
    height: 50px;
}

.txt-numantrian{
    color: #C9AF97;
    font-weight: bold;
}

.nama-profile{
    display: flex;
    justify-content: space-between;
}

.nama-usaha{
    color: white;
    text-align: center;
}

.txt-download-qr-1{
    text-align: center; 
    padding-left: 25px; 
    padding-right: 25px; 
    color:#303030b4;
}

.txt-download-qr-2{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color:#303030b4;
}

.button-antrian {
    display: flex;
    justify-content: center;
}

.btn-antrian {
    background-color: #C9AF97;
    border-radius: 4px;
    border-style: none;
    box-shadow: 0 4px 12px 0 rgba(155, 153, 153, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    border-radius: 20px;
}

.btn-antrian a {
    color: white;
    text-decoration: none;
}

.button-report {
    display: flex;
    justify-content: center;
}

.btn-report {
    background-color: white;
    border-radius: 4px;
    border-style: none;
    box-shadow: 0 4px 12px 0 rgba(155, 153, 153, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    border-radius: 20px;
}

.btn-report a {
    color: #C9AF97;
    text-decoration: none;
}