body {
    background-color: #FFFDF4;
}

.navbar{
    background-color: #E9FAEA;
    height: 60px;
    margin-bottom: -3%;
}

.logoNavbar{
    width: 70px;
    height: 100px;
    margin-left: 20px;
    background-image: url(assets/logo-nav.png) ;
    background-repeat:no-repeat;
    background-size: contain;
}

.container{
    padding-right: var(--bs-gutter-x, 1.75rem);
    padding-left: var(--bs-gutter-x, 1.75rem);
}

.logoSection {
    width: 80%;
    height: 60%;
    padding-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(assets/antrekuy_logo.png) ;
    background-repeat:no-repeat;
    background-size: contain;
}

.txt-header-welcome{
    color: #282828;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}

.txt-promote{
    color: #858282;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 13px;
    
}

.form1 {
    margin-bottom: 2%;
}

.form-control {
    border-style: none none solid none;
}

.textFP {
    display: flex;
    justify-content: right;
    margin-bottom: 5%;
}

.textFP a {
    color: black;
}

.button-masuk {
    display: flex;
    justify-content: center;
}

.btn-masuk {
    background-color: #C9AF97;
    border-radius: 4px;
    border-style: none;
    box-shadow: 0 4px 12px 0 rgba(155, 153, 153, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    border-radius: 20px;
}

.btn-masuk a {
    color: white;
    text-decoration: none;
}

.btn-daftar {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    color: #C9AF97;
    text-decoration: none;
}